:root {
    --main-font-color: #313131;
    --text-attention: #F54932;
    --table-border-color: #D0D0D0;
    --secondary-text-color: #3057A2;
    --btn-gray: #1F1F1F;
    --footer-background: #E9DED4;
}