/* баннер */

.banner {
    position: relative;
}

.banner__content {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    padding: 18px 19px;
}

.banner__title {
    font-size: 36px;
    line-height: 110%;
    color: var(--main-font-color);
    text-transform: uppercase;
}

.banner__description {
    font-family: "Golos Text";
    font-size: 18px;
    line-height: 130%;
    color: var(--main-font-color);
    margin: 24px 0 32px 0;
}

.banner__logo {
    margin-bottom: 40px;
}

.banner__image {
    width: 100%;
}

.banner__title-spacing-line3 {
    display: inline-block;
    width: 17%;
    height: 100%;
}

.banner__title-spacing-line4 {
    display: inline-block;
    width: 4%;
    height: 100%;
}

.banner__secondary-btn {
    margin-top: 14px;
}

.banner_buttons-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media only screen and (min-width: 640px) {
    .banner__content {
        width: 100%;
        padding: 18px 19px;
    }

    .banner__title {
        font-size: 32px;
        line-height: 110%;
    }

    .banner__description {
        width: 50%;
    }

    .banner {
        height: calc(700px + 41px);
    }

    .banner picture {
        display: block;
        height: 700px;
        width: 100%;
    }

    .banner__image {
        height: 100%;
        object-fit: cover;
    }

    .banner_buttons-wrapper {
        width: 50%;
    }
}

@media only screen and (min-width: 1024px) {
    .banner__content {
        width: 100%;
        padding: 19px 72px;
    }

    .banner__title {
        font-size: 60px;
        line-height: 110%;
    }

    .banner_buttons-wrapper {
        display: flex;
        flex-direction: row;
    }

    .banner__secondary-btn {
        margin-top: 0;
        margin-left: 16px;
    }
}
